<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

        <li class="nav-item @(ViewBag.MenuIndex == 0 ? "active" : "")">
            <a class="nav-link" asp-controller="Home" asp-action="Index">
                <i class="mdi mdi-home _menuicon"></i>
                <span class="menu-title">Ana Sayfa</span>
            </a>
        </li>

        <li class="nav-item @(ViewBag.MenuIndex == 1 ? "active" : "")">
            <a class="nav-link" asp-controller="Service" asp-action="Index">
                <i class="fa-regular fa-handshake _menuicon"></i>
                <span class="menu-title">Hizmetlerimiz</span>
            </a>
        </li>

        <li class="nav-item @(ViewBag.MenuIndex == 2 ? "active" : "")">
            <a class="nav-link" asp-controller="Team" asp-action="Index">
                <i class="fa-solid fa-people-group _menuicon"></i>
                <span class="menu-title">Takım Arkadaşlarımız</span>
            </a>
        </li>

        <li class="nav-item"> @* Daha sonra eklenecek @(ViewBag.MenuIndex == 3 ? "active" : "")*@
            <a class="nav-link" asp-controller="" asp-action="">
                <i class="fa-solid fa-chart-pie _menuicon"></i>
                <span class="menu-title">Grafiler</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="" asp-action="">
                <i class="fa-solid fa-globe _menuicon"></i>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>

        <li class="nav-item @(ViewBag.MenuIndex == 5 ? "active" : "")">
            <a class="nav-link" asp-controller="Announcement" asp-action="Index">
                <i class="fa-solid fa-bullhorn _menuicon"></i>
                <span class="menu-title">Duyurular</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="" asp-action="">
                <i class="fa-solid fa-inbox _menuicon"></i>
                <span class="menu-title">Gelen Mesajlar</span>
            </a>
        </li>

        <li class="nav-item @(ViewBag.MenuIndex == 6 ? "active" : "")">
            <a class="nav-link" asp-controller="Address" asp-action="Index">
                <i class="fa-solid fa-location-dot _menuicon"></i>
                <span class="menu-title">Adres Bilgileri</span>
            </a>
        </li>

        <li class="nav-item @(ViewBag.MenuIndex == 3 ? "active" : "")">
            <a class="nav-link" asp-controller="Image" asp-action="Index">
                <i class="fa-regular fa-images _menuicon"></i>
                <span class="menu-title">Görseller</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="" asp-action="">
                <i class="fa-solid fa-gear _menuicon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="" asp-action="">
                <i class="fa-solid fa-arrow-right-from-bracket _menuicon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>

    </ul>
</nav>